@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default, abyss --prefersdark, cupcake;
}
#root {

  padding: 2rem;

}

h1,h2,h6{
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}



p,input, textarea, select, a, label, span, h3{
  font-family: "Lora", serif;
  font-weight: 100;
  font-style: normal;
}